.pkm_img{
    width:50%
}

.pkm_stats_modal{
    width:100%
}

.box {
    width: 100%;
}

th {
    text-align: center;
}
tbody {
    scrollbar-width: none;
}
abbr{
    text-decoration: none;
}
.hidden {
    display: none;
}


/* NAVBAR */

.navbar {
    background-color: #1948c96e;
  }
  
  .navbar-start {
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar-item {
    color: #333;
  }
  
  .navbar-item:hover {
    background-color: #d32525;
  }
  
  /* Nouveaux styles pour les séparations */
  .navbar-start .navbar-item {
    position: relative;
  }
  
  .navbar-start .navbar-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: #dbdbdb42;
  }
  
  /* Ajustements pour le responsive */
  @media screen and (max-width: 1023px) {
    
    .navbar-start {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .navbar-start .navbar-item:not(:last-child)::after {
      display: none;
    }
  
    .navbar-start .navbar-item {
      border-bottom: 1px solid #dbdbdb;
      width: 100%;
      text-align: center;
    }
  
    .navbar-start .navbar-item:last-child {
      border-bottom: none;
    }
  }


  /* MODAL DETAIL POKEMON */

  .modal-card {
    max-width: 600px;
    width: 90%;
  }

  .modal-card-head {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .modal-card-title {
    font-weight: bold;
  }

  .pkm_img_modal {
    max-width: 200px;
    margin: 0 auto;
  }

  .progress {
    height: 0.8rem;
  }

  .field {
    margin-bottom: 1rem;
  }

  .label {
    margin-bottom: 0;
    font-weight: 600;
  }

  .modal-card-foot {
    justify-content: space-between;
  }

  .is-flex.is-justify-content-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .is-flex.is-justify-content-space-between span {
    font-weight: bold;
  }

  /* TYPES LIST ITEM TEMPLATE  */

  .type-button {
    transition: all 0.3s ease;
    border: none;
    font-weight: bold;
    padding: 1.25rem 1rem;
  }

  .type-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #1955c462;
    color: white;
    font-weight: bold;
  }

  .type-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  /* MODAL TEAM DETAIL */

  .modal-card {
    width: 70%;
    max-width: 1200px;
    border-radius: 10px;
  }

  .modal-card-head {
    background-color: #3273dc;
    color: white;
  }

  .modal-card-title {
    color: white;
    font-weight: bold;
  }

  .table-container {
    overflow-x: auto;
  }

  .table {
    font-size: 0.9rem;
  }

  .table th {
    text-align: center;
  }

  .table td {
    vertical-align: middle;
  }

  .edit:hover {
    background-color: #209cee;
  }

  @media screen and (max-width: 768px) {
    .table {
      font-size: 0.8rem;
    }
  }

  /* TEAM LIST ITEM TEMPLATE */

  .box {
    transition: all 0.3s ease;
}
.box:hover {
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    transform: translateY(-5px);
}
.imgContainer img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive version mobile */
@media screen and (max-width: 550px) {
  /* Header de la page */
  .title {
    font-size: 1em;
    padding-bottom: 10px;
  }
  .subtitle {
    font-size: 0.8em;
  }
  .pokeball-img {
    width: 6%;
  }

  /* Accueil Card */
  .card {
    width: 80%;
  }

  /* Modal card detail */
  .modal-card {
    width: 80%;
    
  }
  .modal-card-foot {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .select {
    width: 50%;
  }
  .btn_add_team {
    width: 50%;
  }

  /* Box Team */
  .box {
    width: 80%;
  }

  /* Modal team detail */
  .modal-card-title {
    font-size: 1em;
  }
}
